{% extends 'user/layout.html' %}
{% load i18n %}

{% block title %}{% blocktrans with username=user.display_name %}Statistics for {{ username }}{% endblocktrans %}{% endblock %}

{% block header %}
<div class="columns is-mobile">
    <div class="column">
        <h1 class="title">{% blocktrans with username=user.display_name %}Statistics for {{ username }}{% endblocktrans %}</h1>
    </div>
</div>
{% endblock %}
 
{% block panel %}
{% if is_self %}
<div>
    <div class="is-mobile field is-grouped">
        <ol>
            {% for shelf in shelves %}
                In shelf {{ shelf.name }}:
                {% if shelf.books.count %}
                    {% for book in shelf.books %}
                        <li>
                            {{ book.title }} was published in {{ book.published_date.year }}.
                            {% if book.latest_readthrough %}
                                Last readthrough: {{ book.latest_readthrough.finish_date }}
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ol>
    </div>
</div>
{% endif %}
{% endblock %}
